.catalog {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.5s ease;
    height: 0;
    overflow: hidden;
}

.catalog.open {
    opacity: 1;
    transform: translateY(0);
    height: auto;
}